{% extends "base.html" %}
{% block title %}Withdrawal Complete | CMC Wallet{% endblock title %}
{% block header %}
<link href="./css/common.css" rel="stylesheet" type="text/css">
{% endblock header %}
{% block content %}
 <!-- main -->
    <div class="base">
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4 main">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Request Completed</li>
        </ol>
      </nav>
      <h1 class="h2">Request Completed</h1><br>
      <p>Your request has been successfully processed.</p>
    </main>
    </div>
{% endblock content %}